<!DOCTYPE html>
<html>
<head>
    <title>Carbon Footprint App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'carbon_app/style.css' %}">
         
</head>
<body>
    <h1>Carbon Footprint App</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Calculate</button>
    </form>
    {% if result is not None%}
    <div class="result-card"> 
        <h2>Your weekly CO2 emissions</h2>
        <p><strong>{{ result }} kg</strong></p>
    </div>   
    {% endif %}
    
    {% if distance is not None %}
        <p>Distance calculated: {{ distance }} km</p>
    {% endif %}

</body>
</html>